#portfolio select {
  display: block;
  margin: 40px auto 20px auto;
  text-align: center;
  font-size: 30px;
  background-color: transparent;
  border: none;
  padding: 5px 10px; }
  #portfolio select:hover {
    background-color: #3498DB;
    color: white;
    cursor: pointer; }
  #portfolio select:focus {
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    outline: none; }

#portfolio li {
  margin-top: 25px; }

#portfolio .portImg {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto; }

#portfolio .portHeader {
  text-align: center; }

#portfolio a {
  text-align: center; }
  #portfolio a:hover {
    text-decoration: none; }

#portfolio .block {
  margin-top: 10px;
  display: block; }

#randomQuoteMachine {
  text-align: center; }

#localWeather {
  text-align: center; }
  #localWeather div {
    margin: 0 auto; }
  #localWeather .hide {
    display: none; }

#twitchApp .right {
  text-align: right; }

#twitchApp .quoteSize {
  font-size: 30px; }

#twitchApp .quoteConainer {
  margin: 0 auto;
  margin-top: 35%;
  background-color: white; }

#twitchApp .centerText {
  text-align: center; }

#twitchApp .filtered {
  background-color: red; }

#twitchApp .notFiltered {
  background-color: green; }

#twitchApp img {
  border-radius: 50%;
  width: 100px;
  height: 100px; }

.pull-right {
  margin-bottom: 0; }

nav {
  margin-bottom: 25px; }
  nav ul {
    padding-left: 0;
    display: inline; }
    nav ul li {
      display: inline; }
      nav ul li a {
        padding-right: 20px;
        text-align: center;
        color: #3498DB; }
        nav ul li a:hover {
          text-decoration: none;
          color: #3498DB; }
        nav ul li a:focus {
          text-decoration: none;
          color: #3498DB; }
  nav .topNav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black; }
  nav .bottomNav {
    margin-top: 15px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.error {
  background-color: red;
  color: white; }
